.authorList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--double-indent);
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: var(--main-indent);
}
.author {
  cursor: pointer;
}
.author:hover {
  font-weight: bold;
}
.author:not(:last-child) {
  margin-bottom: var(--half-indent);
}
